{% extends 'base.html.twig' %}

{% block title %}{{property.getPropertyAddress().getNeighborhoodName()}}{% endblock %}

{% block body %}

  <h1 class="text-center py-3">{{property.getPropertyAddress().getNeighborhoodName()}}</h1>
  <div class="container">

<div class="row">
<div class="col-md-6 py-2 px-4 py-lg-0 px-md-2">

  {# property images start #}
   <div class="propertyPhotoSlider">
  {% for propertyPhoto in property.getPropertyPhotos()  %}
 <div class="photoWrapper">
      <img class="img-fluid" src="{{propertyPhoto.getPhotoLink()}}" alt="">
 </div>
   

  {% endfor %}
  </div>
</div>
  {# property images end #}
<div class="col-md-6 px-4 px-lg-2">

  {# property map/location #}
    <div id="map" data-long={{property.getPropertyAddress().getLongitude()}} data-lat={{property.getPropertyAddress().getLatitude()}}>

    </div>
  {# property map/location end  #}


</div>

<div class="col-12 px-2 pt-2">
<div class="card px-5">
<div class="tabs w-100 d-flex">
<button class="btn btn-primary flex-grow-1 mr-2 tab1 tab">Information</button>
<button class="btn btn-outline-primary flex-grow-1 tab2 tab">Book</button>
</div>
<div class="tabInfo1 p-2">
<h3 class="pl-2">{{property.getPropertyAddress().getLine()}}</h3>
<h5 class="pl-2">{{property.getPropertyAddress().getNeighborhoodName()}}</h5>
<h5 class="pl-2">{{property.getPropertyAddress().getCity()}}</h5>
<h5 class="pl-2">Max Price:£{{property.getPropertyCommunity().getPriceMax() == 0.00 ?"N/A":property.getPropertyCommunity().getPriceMax() |number_format(2)}}</h5>
<h5 class="pl-2">Min Price:£{{property.getPropertyCommunity().getPriceMin() == 0.00 ?"N/A":property.getPropertyCommunity().getPriceMin() |number_format(2)}}</h5>
<h5 class="pl-2">Baths Max:{{property.getPropertyCommunity().getBathsMax() == 0.00 ?"N/A":property.getPropertyCommunity().getBathsMax()}}</h5>
<h5 class="pl-2">Beds Max:{{property.getPropertyCommunity().getBedsMax() == 0.00 ?"N/A":property.getPropertyCommunity().getBedsMax()}}</h5>

{% if app.user %}
{% if property.getFavourites()|length > 0 %}
  
{% for favourite in property.getFavourites() %}
{% if favourite.getUser == app.user %}
{% if favourite.getFavourited() == true %}
<a href="/property/favourite/{{property.getId()}}" class="btn btn-primary">Remove from Favourites</a>
{% else %}
<a href="/property/favourite/{{property.getId()}}" class="btn btn-outline-primary">Add to Favourites</a>
{% endif %}
{% endif %}
{% endfor %}
{% else %}
<a href="/property/favourite/{{property.getId()}}" class="btn btn-outline-primary">Add to Favourites</a>  
{% endif %}
{% endif %}

</div>
<div class="tabInfo2 p-2">
{% if app.user %}

<h3 class="text-center">Book Viewing</h3>
<div class="row">
{{ form_start(form) }}
<div class="col-md-12">
<div class="form-group">

   {{ form_label(form.dateOfViewing) }}
   {{ form_widget(form.dateOfViewing) }}
   </div>
</div>
<div class="col-md-12">
<div class="form-group">
{{ form_label(form.timeOfViewing) }}
   {{ form_widget(form.timeOfViewing) }}
</div>
   
</div>
<div class="col-md-12">
   {{ form_widget(form.submit) }}
</div>
{{ form_end(form) }}
</div>
{% else %}

<p class="alert alert-danger text-center">Please Login before booking   <a href="/login">Login</a></p>

{% endif %}
</div>
</div>


</div>
</div>
</div>
{% endblock %}
