{% extends 'adminBase.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="wrapperSecurity">
<h1 class="text-center pb-2">Admin Dashboard</h1>
<div class="row">
<div class="col-md-6 px-5">
<div class="card p-3">
<h3>Bookings</h3>
{% if bookings|length > 0  %}
{% for booking in bookings %}
<div class="bookingItem mt-3">
    <h6>User: {{booking.getUser().getUsername()}}</h6>
    <h6>Property: {{booking.getProperty().getPropertyAddress().getLine()}}</h6>
    <p>Booking Time: {{booking.getTimeOfViewing()|date('H:i:s') }}</p>
    <p>Booking Date: {{booking.getDateOfViewing()|date("m/d/Y") }}</p>
    <div class="actionsWrapper">
    <a href="/property/profile/{{booking.getProperty().getId()}}"><button class="btn btn-outline-primary w-25">View Property</button></a>
    <a href="/admin/delete/booking/{{booking.id}}"><button class="btn btn-danger w-25">Delete</button></a>
    <a href="/admin/edit/booking/{{booking.id}}"><button class="btn btn-primary w-25">Update</button></a>
    </div>
</div>

{% endfor %}
{% else %}
    <p class="alert alert-danger" role="alert">There are no current bookings</p>
{% endif %}
</div>
</div>
<div class="col-md-6">
<div class="card h-100 p-3">
    <h3>Users</h3>
<div class="row">
<div class="col-sm-6">
<div class="admin">
    <h4>Admin</h4>
    {% if adminUsers|length > 0 %}
        {% for admin in adminUsers  %}
            <h6>Username: {{admin.username}}</h6>
            <div class="actionsWrapper">
             <a href="/admin/delete/adminuser/{{admin.id}}"><button class="btn btn-danger">Delete</button></a>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
  <div class="col-sm-6">
  <div class="users">
    <h4>Users</h4>
     {% if users|length > 0 %}
        {% for user in users  %}
            <h6>Username: {{user.username}}</h6>
            <div class="actionsWrapper">
            <a href="/admin/delete/user/{{user.id}}"><button class="btn btn-danger">Delete</button></a>
            </div>
        {% endfor %}
    {% endif %}
    </div>
  </div> 
  </div>   
</div>
  

</div>
</div>
</div>
{% endblock %}
